@media screen and (max-width: 1276px){
  .main-banner .s-container article .main-img .absKent {
    width: 230px;
    left: -106px;
  }

  header{
    padding-right: 12px;
  }

  .container, .s-container, .S-container{
    padding: 0 12px;
  }

  .cources .container article .cource-info p {
    margin: 24px 0 104px;
  }
}

@media screen and (max-width: 1024px){
  .main-banner{
    padding: 0 24px;
  }

  .main-banner .s-container article .main-img img {
    display: none;
  }

  .main-banner .s-container article .main-img .absKent img {
    display: none;
  }

  .main-banner .s-container article .main-info {
    margin: auto;
    text-align: center;
  }

  .main-text{
    text-align: -webkit-center;
    margin-top: 36px;
  }

  .main-banner .s-container article .main-info img {
    left: 30px;
  }

  .main-banner .s-container article .main-info .svgblock_main img {
    left: 334px;
    top: 2px;
  }

  .cources .container h2 {
  text-align: center;
  }

  .owl-carousel .owl-nav {
    display: none !important;
  }

  .owl-carousel .owl-dots {
    display: none !important;
  }

  .owl-stage{
    gap: 8px;
  }

  .goals .container .goal-info .goal-item .goal-img .goal-img-2 img {
    display: none;
  }

  .goals .container .goal-info .goal-item .goal-text img {
    display: none;
  }

  .goals .container .goal-info .goal-item .goal-img {
    justify-content: center;
  }

  .goals .container .goal-info .goal-item {
    text-align: center;
  }

  .goals .container .goal-info {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 22px;
  }

  .goals .container h3{
    text-align: center;
  }

  .advantages .container .advantages-item {
    flex-wrap: wrap;
    max-width: 618px;
    margin: auto;
  }

  .advantages .container .advantages-item .advantages-img-com {
    max-width: inherit;
    width: 100%;
  }

  .advantages .container .advantages-item .advantages-img-com img {
    width: 100%;
    display: block;
  }

  .advantages .container .advantages-item .advantages-info_type {
    max-width: inherit;
  }

  .advantages .container .advantages-item .advantages-img-com_type {
    max-width: inherit;
  }

  .advantages .container .advantages-item:nth-child(3) {
    flex-direction: column-reverse;
  }

  .advantages .container .advantages-item h3 {
    font-size: 38px;
    max-width: inherit;
  }

  .consultation-form .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .consultation-form .consultation-svg img {
    display: none;
  }

  .consultation-form .container .form-container form .input-item {
    text-align: center;
  }
}

@media screen and (max-width: 820px){
  .S-container{
    padding: 0 12px;
  }

  .education .education-item .sub-img{
    display: none;
  }

  
  .education .S-container .education-item {
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 12px;
  }
  .education .S-container .education-item:first-of-type {
    flex-direction: row;
    }

  .interest .s-container {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 32px;
  }

  .interest .s-container .interest-content {
    max-width: none;
  }

  .interest .s-container .interest-img {
    max-width: inherit;
    width: 95%;
  }

  .teachures .teachers-block {
    flex-direction: column;
    gap: 48px;
  }
}


@media screen and (max-width: 767px){

  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn {
    display: block !important;
  }

  .nav-container .hamburger-lines .line {
    display: block;
  }

  .main-banner{
    position: relative;
    padding-bottom: 40px;
  }

  .main-banner .s-container{
    padding: 132px 0;
  }

  .main-banner .s-container article {
    height: inherit;
  }

  .main-banner .comment-img img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .goals .container .goal-info {
    justify-content: flex-start;
    gap: 36px;
  }

  .goals .container .goal-info .goal-item {
    text-align: start;
  }

  .goals .container .goal-info .goal-item .goal-img {
    justify-content: flex-start;
  }

  .goals .kvadratan img{
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
  }

  .goals .container h3 {
    text-align: start;
    font-size: 34px;
  }

  .advantages .container .advantages-item {
    width: -webkit-fill-available;
  }

  .advantages .container .advantages-item .advantages-info {
    max-width: inherit;
    width: -webkit-fill-available;
  }

  .advantages .container .advantages-item .advantages-img-com {
    max-width: inherit;
    width: -webkit-fill-available;
  }

  
  main .accordion-item .title span {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 24px;
  }

  main .accordion-item .paragraph {
    font-size: 18px;
  }

  .cons-block {
    margin-top: 36px !important;
  }

  footer{
    padding: 56px 0;
  }

  footer .container {
    gap: 62px;
  }

  footer .container {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 560px){
  .consultation-form .container .form-container {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 554px){
  .main-banner .s-container article .main-info h1 {
    font-size: 32px;
  }

  .main-banner .s-container article .main-info img {
    display: none;
  }
}

@media screen and (max-width: 519px){
  .main-banner .s-container article .main-info .svgblock_main img {
    left: 218px;
  }
}

@media screen and (max-width: 429px){
  .main-banner .s-container article .main-info h1 {
    font-size: 30px;
  }

.teachures h4 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .faq .container h3 {
    font-size: 32px;
  }

  .interest .s-container .interest-content h5 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }

  .interest .s-container .interest-content p {
    font-size: 20px;
  }
}


/* Гамбургер иконка */

.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
  display: none;
}

.menu-btn .bar {
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
  border-radius: 4px;
	transform: translate(-50%, -50%);
	background-color: #FE6A5D;
	transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
	top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
	top: calc(50% + 9px);
}

/* Меняем гамбургер иконку, когда меню открыто */

.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
  background: #FFEFBA;
	transform: translateX(100%);
	transition: transform 0.5s; 
}

nav.active {
	transform: translateX(0);
}