@media screen and (max-width: 1276px){
  .main-banner .s-container article .main-img .absKent {
    width: 230px;
    left: -106px;
  }

  header{
    padding-right: 12px;
  }

  .container, .s-container, .S-container{
    padding: 0 12px;
  }

  .cources .container article .cource-info p {
    margin: 24px 0 80px;
  }

  .cource-teacher .s-container article .cource-teachure-img .cource-kent {
    right: inherit;
    left: -112px;
  }
}

@media screen and (max-width: 1127px){
  .how .container .how-block .how-item {
    gap: 12px;
    max-width: 348px;
    padding: 8px;
  }

  .how .container .how-block .how-item .how-item-img img {
    width: 36px;
  }
}

@media screen and (max-width: 1060px){
  .how .container .how-block .how-item h5 {
    font-size: 24px;
  }

  .how .container .how-block .how-item p {
    color: #fff;
    font-size: 14.5px;
    font-weight: 400;
  }

  .how .container .how-block .how-item {
    max-width: 330px;
  }
}

@media screen and (max-width: 1024px){
  .main-banner{
    padding: 0 24px;
  }

  .main-banner .s-container article .main-img img {
    display: none;
  }

  .main-banner .s-container article .main-img .absKent img {
    display: none;
  }

  .main-banner .s-container article .main-info {
    margin: auto;
    text-align: center;
  }

  .main-text{
    text-align: -webkit-center;
    margin-top: 36px;
  }

  .main-banner .s-container article .main-info img {
    left: 30px;
  }

  .main-banner .s-container article .main-info .svgblock_main img {
    left: 334px;
    top: 2px;
  }

  .cources .container h2 {
  text-align: center;
  }

  .owl-carousel .owl-dots {
    display: none !important;
  }

  .owl-stage{
    gap: 8px;
  }

  .goals .container .goal-info .goal-item .goal-img .goal-img-2 img {
    display: none;
  }

  .goals .container .goal-info .goal-item .goal-text img {
    display: none;
  }

  .goals .container .goal-info .goal-item .goal-img {
    justify-content: center;
  }

  .goals .container .goal-info .goal-item {
    text-align: center;
  }

  .goals .container .goal-info {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 22px;
  }

  .goals .container h3{
    text-align: center;
  }

  .advantages .container .advantages-item {
    flex-wrap: wrap;
    max-width: 618px;
    margin: auto;
  }

  .advantages .container .advantages-item .advantages-img-com {
    max-width: inherit;
    width: 100%;
  }

  .advantages .container .advantages-item .advantages-img-com img {
    width: 100%;
    display: block;
  }

  .advantages .container .advantages-item .advantages-info_type {
    max-width: inherit;
  }

  .advantages .container .advantages-item .advantages-img-com_type {
    max-width: inherit;
  }

  .advantages .container .advantages-item:nth-child(3) {
    flex-direction: column-reverse;
  }

  .advantages .container .advantages-item h3 {
    font-size: 38px;
    max-width: inherit;
  }

  .consultation-form .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .consultation-form .consultation-svg img {
    display: none;
  }

  .consultation-form .container .form-container form .input-item {
    text-align: center;
  }

  .cource-main-banner .container .cource-main-info {
    margin-left: 12px;
  }

  .cource-main-banner .container .cource-main-img {
    max-width: 420px;
  }

  .how .container {
    gap: 8px;
  }

  .how .container .how-block .how-item {
    max-width: 292px;
    gap: 6px;
    padding: 6px;
  }

  .how .container .how-block .how-item h5 {
    font-size: 22px;
  }

  .how .container .how-block .how-item p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  .why .container {
    max-width: 1127px;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
  }

  .why .container .why-item {
    text-align: center;
  }

  .why .container .why-item .why-img img {
    margin: auto;
  }

  .cource-learn .container ul li {
    font-size: 26px;
  }
}

@media screen and (max-width:950px){
  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper h4 {
    font-size: 22px;
  }

.whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item:first-of-type p {
    font-size: 14px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item {
    gap: 12px;
    padding: 0px 12px;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .embaresed-img {
    max-width: 342px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item:first-of-type {
    min-height: 163px;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper {
    max-width: 342px;
  }
}

@media screen and (max-width: 930px){
  .cource-main-banner .container .cource-main-img {
    max-width: 372px;
  }

  .cource-main-banner .container .cource-main-info .main-cource-svg {
    margin-bottom: 36px;
  }

  .cource-main-banner .container .cource-main-info .main-cource-age {
    margin-bottom: 12px;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 44px;
    margin-bottom: 6px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content {
    margin-bottom: 18px;
  }

  .cource-main-banner .container .cource-main-info article a {
    font-size: 22px;
  }

  .how .container .how-block .how-item {
    max-width: 268px;
  }

  .cource-learn .container ul li {
    font-size: 25px;
  }

  .cource-learn .container .tech-images ul li {
    max-width: 120px;
  }
}

@media screen and (max-width: 880px){
  .cource-main-banner .container .cource-main-info {
    max-width: 360px;
    margin-left: 10px;
  }

  .cource-main-banner .container .cource-main-info .main-cource-svg {
    margin-bottom: 18px;
  }

  .cource-main-banner .container .cource-main-info .main-cource-age {
    margin-bottom: 8px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content {
    margin-bottom: 10px;
  }

  .cource-main-banner .container .cource-main-info {
    max-width: 360px;
    margin-left: 0;
  }

  .cource-main-banner .container .cource-main-img {
    max-width: 352px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 110px;
  }

  .how .container .how-block .how-item {
    max-width: 235px;
  }

  .how .container .how-block .how-item h5 {
    font-size: 20px;
  }

  .how .container .how-block .how-item p {
    font-size: 12px;
  }

  .cource-teacher .s-container article .cource-teachure-img .cource-kent {
    max-width: 212px;
  }

  .cource-teacher .s-container article .cource-teachure-img {
    max-width: 320px;
  }

  .cource-teacher .s-container article h5 {
    font-size: 38px;
  }

  .cource-teacher .s-container article p {
    max-width: 342px;
  }
}

@media screen and (max-width: 820px){
  .S-container{
    padding: 0 12px;
  }

  .education .education-item .sub-img{
    display: none;
  }

  
  .education .S-container .education-item {
    justify-content: space-evenly;
    flex-direction: row-reverse;
    gap: 22px;
  }
  .education .S-container .education-item:first-of-type {
    flex-direction: row;
    }

  .interest .s-container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 32px;
  }

  .interest .s-container .interest-content {
    max-width: none;
  }

  .interest .s-container .interest-img {
    max-width: inherit;
    width: 90%;
  }

  .teachures .teachers-block {
    flex-direction: column;
    gap: 48px;
  }

  .how .container .how-img {
    max-width: 310px;
  }

  .how .container .how-block .how-item {
    max-width: 208px;
    gap: 0;
    padding: 2px;
  }

  .how .container .how-block .how-item h5 {
    font-size: 18px;
  }

  .cource-teacher .s-container article .cource-teachure-img {
    max-width: 300px;
  }

  .cource-teacher .s-container article h5 {
    font-size: 36px;
  }
  
  .cource-teacher .s-container article p {
    max-width: 302px;
  }
}


@media screen and (max-width: 767px){
  header{
    padding: 8px 0;
  }

  header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .nav-list li {
    display: flex;
    justify-content: center;
  }
  
  .menu-btn {
    display: block !important;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
  }
  
  .main-banner{
    background-color: #E6F0FF;
    position: relative;
    height: calc(100vh - 75.53px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-banner .mobile-mainkent img {
    display: block;
  }

  .main-banner .s-container article {
    height: inherit;
    margin-top: 54px;
  }

  .main-banner .comment-img img {
    display: block;
    position: inherit;
  }

  .main-banner .comment-img{
    margin: 15px auto 0 -24px;
  }

  .cources .container article .cource-info {
    padding: 0 12px;
  }

  .owl-stage {
    display: inherit !important;
    margin: auto !important;
  }

  .cources .container .owl-carousel .owl-nav .owl-prev {
    top: inherit;
    bottom: -62px;
    right: 60px;
  }

  .cources .container .owl-carousel .owl-nav .owl-next {
    top: inherit;
    bottom: -62px;
    right: inherit;
    right: 0;
  }

  .goals .container .goal-info {
    justify-content: flex-start;
    gap: 56px;
  }

  .goals .container .goal-info .goal-item {
    text-align: start;
  }

  .goals .container .goal-info .goal-item .goal-img {
    justify-content: flex-start;
  }

  .goals .kvadratan img{
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
  }

  .goals .container h3 {
    text-align: start;
    font-size: 34px;
  }

  .goals .container .goal-info .goal-item .goal-text p {
    word-spacing: 1px;
    line-height: 135%;
  }

  .advantages .container .advantages-item {
    width: -webkit-fill-available;
  }

  .advantages .container .advantages-item .advantages-info {
    max-width: inherit;
    width: -webkit-fill-available;
  }

  .advantages .container .advantages-item .advantages-img-com {
    max-width: inherit;
    width: -webkit-fill-available;
  }

  main .accordion-item .title span {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 24px;
  }

  main .accordion-item .paragraph {
    font-size: 18px;
  }

  .cons-block {
    margin-top: 36px !important;
  }

  .cource-main-banner .container {
    padding-bottom: 54px;
  }

  .cource-main-banner {
    margin-top: 0;
  }

  .cource-main-banner .container .cource-main-img img {
    display: none;
  }

  .cource-main-banner .main-cource-smallImg img{
    display: block;
  }

  .cource-main-banner .main-cource-smallImg .main-cource-svg2 img {
    display: block;
  }

  .cource-main-banner .main-cource-smallImg .main-cource-svg2 {
    position: absolute;
    top: 17px;
    left: 15px;
  }

  .cource-main-banner .container .cource-main-info .main-cource-svg img {
    display: none;
  }

  .cource-main-banner .container .cource-main-info .main-cource-age {
    margin-bottom: 12px;
  }

  .cource-main-banner .container .cource-main-info {
    max-width: fit-content;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 48px;
    margin-bottom: 8px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content {
    margin-bottom: 22px;
    padding-right: 4px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 130px;
    padding: 6px;
  }

  .cource-main-banner .container .cource-main-info article a {
    font-size: 24px;
  }

  .cource-main-banner .container .cource-main-info article a {
    width: auto;
    padding: 17px 60px;
  }

  .whatis-cource .container .cource-page-infoblock {
    gap: inherit;
    flex-direction: column;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper {
    max-width: fit-content;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .embaresed-img {
    max-width: -webkit-fill-available;
  }

  .how .container {
    flex-direction: column;
    align-items: center;
    max-width: 420px;
  }

  .how .container .how-block .how-item {
    max-width: inherit;
    gap: 12px;
    padding: 16px;
  }

  .how .container .how-block .how-item .how-item-img img {
    width: 48px;
  }

  .how .container .how-block .how-item h5 {
    font-size: 26px;
  }

  .how .container .how-block .how-item p {
    font-size: 16px;
  }

  .how .container .how-img {
    width: 100%;
    max-width: inherit;
  }

  .how .container .how-img {
    width: 100%;
    max-width: inherit;
    margin: 6px 0;
  }

  .how .container .how-img img {
    display: none;
    width: 100%;
  }

  .how .container .how-img-small{
    width: 100%;
  }

  .how .container .how-img-small img {
    display: block;
  }

  .why .container {
    justify-content: flex-start;
    justify-content: center;
  }

  .why .container .why-item {
    text-align: inherit;
    max-width: 442px;
  }

  .why h2 {
    padding: 0 42px;
  }

  .why .container .why-item .why-img img {
    margin: inherit;
  }

  .why .container .why-item:nth-child(2) {
    text-align: end;
  }

  .why .container .why-item:nth-child(2) .why-img {
    display: flex;
    justify-content: end;
  }

  .cource-teacher .s-container article {
    flex-direction: column-reverse;
  }

  .cource-teacher .s-container .teacher-info{
    text-align: center;
  }

  .cource-learn .container {
    justify-content: inherit;
    align-items: center;
    flex-direction: column;
    gap: 42px;
  }

  .cource-learn .container .tech-images {
    max-width: inherit;
  }

  .cource-learn .container .tech-images ul li {
    max-width: 131px;
    margin-bottom: 0;
  }

  .cource-learn .container .tech-images ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
  }

  .cources {
    padding: 108px 0 80px;
  }

  .education .S-container .education-item {
    margin-bottom: 60px;
  }

  .education{
    padding-top: 88px;
  }

  .education .S-container .education-item .education-info p {
    font-size: 13px;
    line-height: 120%;
  }

  .advantages {
    padding: 82px 0;
  }

  .advantages .container .advantages-item {
    gap: 12px;
  }

  .advantages .container {
    gap: 12px;
  }

  .advantages .container .advantages-item h3 {
    margin-bottom: 20px;
  }

  .consultation-form {
    padding: 72px 0;
  }

  .faq {
    padding: 72px 0 92px;
  }

  .how{
    margin-top: 72px;
  }

  .how .container{
    gap: 12px;
  }

  .how .container .how-img {
    margin-top: -18px;
  }

  .how .container .how-block {
    gap: 12px;
  }

  .why {
    margin-top: 36px;
    padding: 56px 0;
  }

  .why h2 {
    margin-bottom: 62px;
  }

  .cource-teacher {
    padding: 82px 0 86px;
  }

  .cource-teacher .s-container .teacher-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cource-teacher .s-container article .cource-teachure-img .cource-kent {
    max-width: 162px;
  }

  .cource-teacher .s-container article .cource-teachure-img .cource-kent {
    left: -72px;
  }

  .cource-teacher .s-container article .cource-teachure-img {
    max-width: 224px;
  }

  .cource-teacher .s-container article .teachure-img-block h5 {
    display: inline-block;
  }

  .cource-teacher .s-container article .teachure-img-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cource-teacher .s-container article h5 {
    display: none;
  }

  .cource-teacher .s-container .teacher-info {
    margin-top: 24px;
  }

  .cources .container article .cource-info p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 14px;
    letter-spacing: 1px;
    margin: 24px 0 108px;
    text-align: start;
    max-height: 120px;
    line-height: 125%;
  }

  footer {
    padding: 48px 0;
  }

  footer{
    padding: 56px 0;
  }

  footer .container {
    gap: 62px;
  }

  footer .container {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px){

  .goals .container .goal-info .goal-item {
    max-width: -webkit-fill-available;
  }

  .goals .container .goal-info {
    max-width: 464px;
    margin: auto;
  }

  .advantages .container .advantages-item h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 560px){
  .consultation-form .container .form-container {
    width: -webkit-fill-available;
  }

  .whatis-cource .container h2 {
    margin-bottom: 20px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
}

@media screen and (max-width: 554px){
  .main-banner .s-container article .main-info h1 {
    font-size: 36px;
  }

  .main-banner .s-container article .main-info .svgblock_main img {
    left: 218px;
  }

  .main-banner .s-container article .main-info img {
    left: 14px;
  }
}

@media screen and (max-width: 519px){
  .main-banner .s-container article .main-info .svgblock_main img {
    left: 218px;
    display: block;
  }

  .main-banner .s-container article .main-info img {
    display: none ;
  }

  .goals .container h3 {
    font-size: 30px;
  }

  .goals .container .goal-info .goal-item .goal-text h6 {
    font-size: 24px;
  }

  .goals .container .goal-info .goal-item .goal-text p {
    font-size: 15px;
  }
}

@media screen and (max-width:460px){
  header .container nav ul li a {
    font-size: 24px;
  }

  header .container nav ul li span {
    font-size: 24px;
  }

  .cources .container article .cource-info {
    min-height: 313px;
  }

  .wrapper-cource {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 17px;
  }

  .cources .container article .cource-info .age p {
    margin: 0;
    white-space: nowrap;
    padding: 5px 8px 4px;
  }

  .cources .container article .cource-info h3 {
    font-size: 30px;
  }

  .cources .container article .cource-info p {
    margin: 24px 0 74px;
  }

  .goals .container h3 {
    max-width: 200px;
  }

  .teachures {
    padding: 86px 0 82px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content {
    margin-bottom: 16px;
    padding-right: 4px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 116px;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 42px;
  }

  .cource-main-banner .container .cource-main-info article a {
    font-size: 20px;
  }

  .why h2 {
    padding: 0 12px;
    font-size: 38px;
  }

  .cource-main-banner .container .cource-main-info     .cource-main-banner .container .cource-main-info article a {
    padding: 16px 28px;
  }

  .whatis-cource {
    margin-top: 42px;
  }

  .cource-learn {
    padding-top: 82px;
  }

  .bigLogo img{
    display: block !important;
  }
}

@media screen and (max-width: 429px){
  .main-banner .s-container article .main-info h1 {
    font-size: 30px;
  }

  .main-banner .s-container article .main-info .svgblock_main img {
    left: 178px;
  }

  .advantages .container .advantages-item .advantages-info {
    gap: 12px;
  }

  .advantages .container .advantages-item .advantages-info h6 {
    font-size: 22px;
  }

  .advantages .container .advantages-item .advantages-info p {
    font-size: 14px;
  }

  .education .S-container h3 {
    font-size: 30px;
  }

  .education .S-container .education-item .education-info h5 {
    font-size: 20px;
  }

  .education .S-container .education-item .education-info p {
    font-size: 14px;
  }

  .education .S-container .education-item .education-info p {
    word-spacing: inherit;
  }

.teachures h4 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .faq .container h3 {
    font-size: 32px;
  }

  .interest .s-container .interest-content h5 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }

  .interest .s-container .interest-content p {
    font-size: 20px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 98px;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 40px;
  }

  .cource-main-banner .container .cource-main-info article a {
    padding: 16px 42px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item {
    gap: 8px;
    padding: 0px 6px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper h4 {
    font-size: 20px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item:first-of-type p {
    font-size: 13px;
  }

  .whatis-cource .container .cource-page-infoblock .left-whatis-wrapper .whatis-item:last-of-type p {
    color: #000;
    font-size: 14px;
    font-weight: 400;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .whatis-item {
    gap: 8px;
    padding: 0 8px;
    margin-bottom: 8px
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .embaresed-img {
    margin-bottom: 8px;
    max-width: 426px;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .whatis-item {
    margin-bottom: 0;
  }

  .whatis-cource .container .cource-page-infoblock .right-whatis-wrapper .whatis-item p {
    color: #000;
    font-size: 15px;
    font-weight: 400;
  }

  header .container nav ul .consultation a {
    font-size: 22px;
  }

  .main-banner .s-container article .main-info p {
    font-size: 20px;
  }
}

@media screen and (max-width:360px){
  .cource-teacher .s-container article .cource-teachure-img {
    max-width: 212px;
  }

  .cource-teacher .s-container article .cource-teachure-img .cource-kent {
    left: -62px;
    max-width: 148px;
  }
}

@media screen and (max-width:360px){
  .goals .container h3 {
    font-size: 24px;
  }

  .goals .container .goal-info .goal-item .goal-text h6 {
    font-size: 22px;
  }

  .goals .container .goal-info .goal-item .goal-text p {
    font-size: 14px;
  }

  .education .S-container .education-item .education-info h5 {
    font-size: 18px;
  }

  .education .S-container .education-item .education-info p {
    font-size: 12px;
  }

  header .container nav ul .consultation a {
    font-size: 17px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 90px;
    font-size: 14px;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 38px;
  }
}

@media screen and (max-width:343px){
  .main-banner .s-container {
    padding: 116px 0;
  }

  .education .S-container .education-item img{
    max-width: 102px;
  }

  .faq .container h3 {
    font-size: 28px;
  }

  main .accordion-item .title span {
    font-size: 20px;
  }

  main .accordion-item .paragraph {
    font-size: 16px;
    }

    .cource-main-banner .container .cource-main-info article h1 {
      font-size: 35px;
    }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 84px;
    font-size: 13px;
    padding: 4px 4px 0 2px;
  }

  .cource-main-banner .container .cource-main-info article a {
    font-size: 18px;
    padding: 16px 24px;
  }

  .cource-teacher .s-container article .cource-teachure-img {
    max-width: 198px;
    box-shadow: #FAD1FA 12px -12px;
    }

    .cource-teacher .s-container article .cource-teachure-img:hover {
      box-shadow: #f697f6 10px -10px;
  }

  .main-banner .s-container article .main-info .svgblock_main img {
    left: 130px;
  }
}

@media screen and (max-width:320px){
  .cources .container article .cource-info h3 {
    font-size: 30px;
  }

  .cources .container article .cource-info .age p {
    padding: 5px 10px 4px;
  }

  .cources .container article .cource-info p {
    margin: 24px 0 126px 0;
  }

  .advantages .container .advantages-item h3 {
    font-size: 26px;
  }

  .advantages .container .advantages-item .advantages-info h6 {
    font-size: 20px;
  }

  .advantages .container .advantages-item .advantages-info p {
    font-size: 12px;
  }

  .education .S-container .education-item img{
    max-width: 92px;
  }

  .interest .s-container .interest-content h5 {
    font-size: 28px;
  }

  .interest .s-container .interest-content p {
    font-size: 18px;
  }

  .cons-block .cons-link {
    font-size: 18px !important;
  }

  .cource-main-banner .container .cource-main-info article p {
    font-size: 15px;
  }

  .cource-main-banner .container .cource-main-info article h1 {
    font-size: 32px;
  }

  .cource-main-banner .container .cource-main-info article .cource-content {
    margin-bottom: 16px;
    padding-right: 0;
  }

  .cource-main-banner .container .cource-main-info article .cource-content p {
    max-width: 76px;
    font-size: 12.5px;
    padding: 3px 3px 0 1px;
  }
}

@media screen and (max-width:300px){
  .cources .container article .cource-info h3 {
    font-size: 26px;
  }
}

@media screen and (max-width:282px){
  .advantages .container .advantages-item h3 {
    font-size: 28px;
  }
}