// Style imports:

@import url(../css/header/head.css);
@import url(../css/main/main.css);
@import url(../css/dropdown.css);
@import url(../css/accordion.css);
@import url(../css/footer/foot.css);


// Font:

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');



// Colors:

$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;


.border-prp{
  border: 2px solid $purple;
}

.border-blu{
  border: 2px solid $blue;
}

.border-red{
  border: 2px solid $red;
}

.border-yel{
  border: 2px solid $yello;
}

.bg-colr-bl{
  background-color: $blue !important
}
.bg-colr-rd{
  background-color: $red !important
}
.bg-colr-yl{
  background-color: $yello !important
}
.bg-colr-pr{
  background-color: $purple !important
}


.coPrpl{
  color: $purple !important
}
.coBlue{
  color: $blue !important
}
.coRad{
  color: $red !important
}
.coYello{
  color: $yello !important
}


// Initialisation

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  p,h1,h2,h3,h4,h5,h6,label,a,li,span{
    font-family: "Rubik", sans-serif;

    &::selection{
      background-color: rgb(253, 125, 78);
    }
  }

  a{
    text-decoration: none;
    display: inline-block;
  }

  ul,ol{
    list-style: none;
  }
}

.container{
  max-width: 1200px;
  margin: auto;
}

.s-container{
  max-width: 992px;
  margin: auto;
}

.S-container{
  max-width: 795px;
  margin: auto;
}

.d-flex{
  display: flex;
}

.linkHover{
  transition: 0.2s;

  &:hover{
    transform: scale(1.15);
  }
}

.width-avaiable{
  max-width: -webkit-fill-available !important;
}

.consultation{
  background-color: $red;
  padding: 14px;
  box-shadow: 8px -8px $red3;
  transition: 0.2s;

  &:hover{
    box-shadow: 4px -4px $red2;
    padding: 14px 18px;
  }

  a{
    color: $white !important;
  }
}

.cons-block{
  max-width: 448px;
  margin-top: 48px;

  .cons-link{
    padding: 19px 0;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: $red;
    width: 100%;
  }
}

.owl-stage{
  display: flex;
  align-items: center;
}
