@import url(../css/header/head.css);
@import url(../css/main/main.css);
@import url(../css/dropdown.css);
@import url(../css/accordion.css);
@import url(../css/footer/foot.css);
@import url(../css/owl.theme.default.css);
@import url(../css/owl.carousel.css);
@import url(../css/media.css);
@import url(../css/burger.css);
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
.border-prp {
  border: 2px solid #F99AF9 !important;
  border-top: none !important;
}

.border-blu {
  border: 2px solid #3586FF !important;
  border-top: none !important;
}

.border-red {
  border: 2px solid #FE6A5D !important;
  border-top: none !important;
}

.border-yel {
  border: 2px solid #F7C005 !important;
  border-top: none !important;
}

.border-grn {
  border: 2px solid #6efc86 !important;
  border-top: none !important;
}

.bg-colr-bl {
  background-color: #3586FF !important;
}

.bg-colr-rd {
  background-color: #FE6A5D !important;
}

.bg-colr-yl {
  background-color: #F7C005 !important;
}

.bg-colr-pr {
  background-color: #F99AF9 !important;
}

.coPrpl {
  color: #F99AF9 !important;
}

.coBlue {
  color: #3586FF !important;
}

.coRad {
  color: #FE6A5D !important;
}

.coYello {
  color: #F7C005 !important;
}

.coGreen {
  color: rgb(105, 219, 166) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root p, :root h1, :root h2, :root h3, :root h4, :root h5, :root h6, :root label, :root a, :root li, :root span {
  font-family: "Rubik", sans-serif;
}
:root p::selection, :root h1::selection, :root h2::selection, :root h3::selection, :root h4::selection, :root h5::selection, :root h6::selection, :root label::selection, :root a::selection, :root li::selection, :root span::selection {
  background-color: rgb(253, 125, 78);
}
:root a {
  text-decoration: none;
  display: inline-block;
}
:root ul, :root ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.s-container {
  max-width: 992px;
  margin: auto;
}

.S-container {
  max-width: 795px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.linkHover {
  transition: 0.2s;
}
.linkHover:hover {
  transform: scale(1.1);
}

.consultation {
  background-color: #FE6A5D;
  padding: 14px;
  box-shadow: 8px -8px #FED2CD;
  transition: 0.2s;
}
.consultation:hover {
  box-shadow: 4px -4px #FEACA4;
  padding: 14px 20px;
  letter-spacing: 1px;
}
.consultation a {
  color: #fff !important;
}
.consultation a::selection {
  background-color: rgba(110, 252, 134, 0.7843137255);
}

.cons-block {
  max-width: -webkit-fill-available;
  margin-top: 48px;
}
.cons-block .cons-link {
  padding: 19px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #FE6A5D;
  width: 100%;
  transition: 0.2s;
}
.cons-block .cons-link:hover {
  letter-spacing: 1px;
  width: 95%;
}
.cons-block .cons-link::selection {
  background-color: rgba(110, 252, 134, 0.7843137255);
}

.owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item {
  text-align: center;
}
.owl-carousel .owl-nav .owl-next {
  content: url("../../website/images/svgs/Property-forward.svg");
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  top: -84px;
  right: 22px;
  border: 0;
}
.owl-carousel .owl-nav .owl-prev {
  content: url("../images/svgs/Property-forward.svg");
  transform: rotate(180deg);
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  top: -84px;
  right: 88px;
  border: 0;
}

/*# sourceMappingURL=styles.css.map */
