// Style imports:

@import url(../css/header/head.css);
@import url(../css/main/main.css);
@import url(../css/dropdown.css);
@import url(../css/accordion.css);
@import url(../css/footer/foot.css);
@import url(../css/owl.theme.default.css);
@import url(../css/owl.carousel.css);
@import url(../css/media.css);
@import url(../css/burger.css);


// Font:

// Colors:

$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;
$pink: #fd17FD;
$pink2: #FDD7FD;
$pink3: #FEF5FE;
$grey: rgb(145, 145, 145);
$green: rgb(105, 219, 166);


.border-prp{
  border: 2px solid $purple !important;
  border-top: none !important;
}

.border-blu{
  border: 2px solid $blue !important;
  border-top: none !important;
}

.border-red{
  border: 2px solid $red !important;
  border-top: none !important;
}

.border-yel{
  border: 2px solid $yello !important;
  border-top: none !important;
}

.border-grn{
  border: 2px solid #6efc86 !important;
  border-top: none !important;
}

.border-prpl{
  border-bottom: 2px solid $purple;
}


.bg-colr-bl{
  background-color: $blue !important
}
.bg-colr-rd{
  background-color: $red !important
}
.bg-colr-yl{
  background-color: $yello !important
}
.bg-colr-pr{
  background-color: $purple !important
}
.bg-colr-grn{
  background-color: $green !important
}


.coPrpl{
  color: $purple !important
}
.coBlue{
  color: $blue !important
}
.coRad{
  color: $red !important
}
.coYello{
  color: $yello !important
}
.coGreen{
  color: $green !important
}


// Initialisation

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  p,h1,h2,h3,h4,h5,h6,label,a,li,span{
    font-family: 'Rubik';

    &::selection{
      background-color: rgb(253, 125, 78);
    }
  }

  a{
    text-decoration: none;
    display: inline-block;
  }

  ul,ol{
    list-style: none;
  }
}

.container{
  max-width: 1200px;
  margin: auto;
}

.s-container{
  max-width: 992px;
  margin: auto;
}

.S-container{
  max-width: 795px;
  margin: auto;
}

.d-flex{
  display: flex;
}

.linkHover{
  transition: 0.2s;

  &:hover{
    transform: scale(1.1);
  }
}

.consultation{
  background-color: $red;
  padding: 14px;
  box-shadow: 8px -8px $red3;
  transition: 0.2s;

  &:hover{
    box-shadow: 4px -4px $red2;
    padding: 14px 20px;
    letter-spacing: 1px;
  }

  a{
    color: $white !important;

    &::selection{
      background-color: #6efc86c8;
    }
  }
}

.cons-block{
  max-width: -webkit-fill-available;
  margin-top: 48px;

  .cons-link{
    padding: 19px 0;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: $red;
    width: 100%;
    transition: 0.2s;

    &:hover{
      letter-spacing: 1px;
      width: 95%;
    }

    &::selection{
      background-color: #6efc86c8;
    }
  }
}

.owl-stage{
  display: flex;
  align-items: center;
}

.owl-carousel{
  .owl-item{
    text-align: center;
  }

  .owl-nav{
    .owl-next{
      background-image: url(../images/svgs/right.svg);
      position: absolute;
      width: 48px;
      height: 48px;
      top: -84px;
      right: 22px;
      border: 0;
    }

    .owl-prev{
      background-image: url('../images/svgs/right.svg');
      transform: rotate(180deg);
      position: absolute;
      display: inline-block;
      width: 48px;
      height: 48px;
      top: -84px;
      right: 88px;
      border: 0;
    }
  }
}