@import url(../css/header/head.css);
@import url(../css/main/main.css);
@import url(../css/dropdown.css);
@import url(../css/accordion.css);
@import url(../css/footer/foot.css);
@import url(../css/owl.theme.default.css);
@import url(../css/owl.carousel.css);
@import url(../css/media.css);
@import url(../css/burger.css);
@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimPro-Regular.eot);
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"), url("GTWalsheimPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimPro-Bold.eot);
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"), url("GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Bold.woff") format("woff"), url("../fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimPro-Medium.eot);
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"), url("GTWalsheimPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GTWalsheimPro-Medium.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Medium.woff") format("woff"), url("../fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
.border-prp {
  border: 2px solid #F99AF9 !important;
  border-top: none !important;
}

.border-blu {
  border: 2px solid #3586FF !important;
  border-top: none !important;
}

.border-red {
  border: 2px solid #FE6A5D !important;
  border-top: none !important;
}

.border-yel {
  border: 2px solid #F7C005 !important;
  border-top: none !important;
}

.border-grn {
  border: 2px solid #00B894 !important;
  border-top: none !important;
}

.border-prpl {
  border-bottom: 2px solid #F99AF9;
}

.bg-colr-bl {
  background-color: #3586FF !important;
}

.bg-colr-rd {
  background-color: #FE6A5D !important;
}

.bg-colr-yl {
  background-color: #F7C005 !important;
}

.bg-colr-pr {
  background-color: #F99AF9 !important;
}

.bg-colr-grn {
  background-color: #00B894 !important;
}

.bg-bl4 {
  background-color: #E6F0FF !important;
}

.bg-rd3 {
  background-color: #FED2CD !important;
}

.bg-yl3 {
  background-color: #FCEAB0 !important;
}

.bg-pr3 {
  background-color: #FCE9FC !important;
}

.bg-grn2 {
  background-color: #87E3D1 !important;
}

.bg-pink3 {
  background-color: #FEF5FE !important;
}

.coPrpl {
  color: #F99AF9 !important;
}

.coBlue {
  color: #3586FF !important;
}

.coRad {
  color: #FE6A5D !important;
}

.coYello {
  color: #F7C005 !important;
}

.coGreen {
  color: #00B894 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root p, :root h1, :root h2, :root h3, :root h4, :root h5, :root h6, :root label, :root a, :root li, :root span {
  font-family: "GT Walsheim Pro";
}
:root p::-moz-selection, :root h1::-moz-selection, :root h2::-moz-selection, :root h3::-moz-selection, :root h4::-moz-selection, :root h5::-moz-selection, :root h6::-moz-selection, :root label::-moz-selection, :root a::-moz-selection, :root li::-moz-selection, :root span::-moz-selection {
  background-color: #87E3D1;
}
:root p::selection, :root h1::selection, :root h2::selection, :root h3::selection, :root h4::selection, :root h5::selection, :root h6::selection, :root label::selection, :root a::selection, :root li::selection, :root span::selection {
  background-color: #87E3D1;
}
:root a {
  text-decoration: none;
  display: inline-block;
}
:root ul, :root ol {
  list-style: none;
}

body {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.s-container {
  max-width: 992px;
  margin: auto;
}

.S-container {
  max-width: 795px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.linkHover {
  transition: 0.2s;
}
.linkHover:hover {
  transform: scale(1.1);
}

.consultation {
  background-color: #FE6A5D;
  padding: 14px;
  transition: 0.2s;
}
.consultation:hover {
  padding: 14px 18px;
  letter-spacing: 1px;
}
.consultation a {
  color: #fff !important;
}
.consultation a::-moz-selection {
  background-color: #00B894;
}
.consultation a::selection {
  background-color: #00B894;
}

.cons-block {
  max-width: -webkit-fill-available;
  margin-top: 48px;
}
.cons-block .cons-link {
  padding: 19px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #FE6A5D;
  width: 100%;
  transition: 0.2s;
}
.cons-block .cons-link:hover {
  letter-spacing: 1px;
  width: 95%;
}
.cons-block .cons-link::-moz-selection {
  background-color: #87E3D1;
}
.cons-block .cons-link::selection {
  background-color: #87E3D1;
}

.highlight-text {
  color: #F99AF9 !important;
}

.owl-stage {
  display: flex;
  align-items: center;
}

.owl-carousel .owl-item {
  text-align: center;
}
.owl-carousel .owl-dots {
  display: none;
}
.owl-carousel .owl-nav .owl-next {
  background-image: url(../images/svgs/right.svg);
  position: absolute;
  width: 48px;
  height: 48px;
  top: -84px;
  right: 22px;
  border: 0;
}
.owl-carousel .owl-nav .owl-prev {
  background-image: url("../images/svgs/right.svg");
  transform: rotate(180deg);
  position: absolute;
  display: inline-block;
  width: 48px;
  height: 48px;
  top: -84px;
  right: 88px;
  border: 0;
}/*# sourceMappingURL=style.css.map */