:root{
  p,a,li{
    color: #fff;
  }
}


footer{
  padding: 98px 0;

  .container{
    gap: 136px;

    justify-content: space-around;

    p{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 28px;

      &::selection{
        background-color: #6efc86c8;
      }
    }

    .left-foot{

      .foot-logo{
        max-width: 150px;
        margin-bottom: 24px;

        img{
          width: 100%;
          display: block;
        }
      }
      ul{
        li{
          a{
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-bottom: 16px;
            transition: 0.1s;

            &:hover{
              color: darkseagreen;
            }

            &::selection{
              background-color: #6efc86c8;
            }
          }
        }
      }
    }

    .middle-foot{
      ul{
        li{
          font-size: 20px;
          font-weight: 400;
          margin-bottom: 16px;
          transition: 0.1s;

          &:hover{
            color: darkseagreen;
          }

          &::selection{
            background-color: #6efc86c8;
          }
        }
      }
    }

    #right-foot{
      ul{
        gap: 9px;

        li{
          max-width: 44.3px;

          img{
            width: 100%;
            display: block;
            transition: 0.2s;

            &:hover{
              width: 110%;
            }
          }
        }
      }
    }
  }
}
