header{
  padding: 12px 0;
  border-bottom: 2px solid #FE6A5D;
  .container{
    align-items: center;
    justify-content: space-between;
    nav{
      ul{
        gap: 32px;
        align-items: center;
        li{
          span{
            color: #000;
            font-size: 17px;
            font-weight: 600;
            &:hover{
              color: gray;
            }
          }
          a{
            color: #000;
            font-size: 17px;
            font-weight: 600;
            &:hover{
              color: gray;
            }
          }
        }
      }
    }
    .main-logo{
      max-width: 180px;
      img{
        display: block;
        width: 100%;
      }
    }
  }
}