header{
  padding: 20px 0;
  border-bottom: 2px solid #FE6A5D;

  .container{
    align-items: center;
    justify-content: space-between;

    nav{
      align-items: center;
      justify-content: space-between;
      width: -webkit-fill-available;

      ul{
        gap: 32px;
        align-items: center;

        li{

          &:nth-child(2){
            margin-right: 12px;
          }

          span{
            color: #000;
            font-size: 17px;
            font-weight: 500;
            transition: 0.2s;

            &:hover{
              letter-spacing: 1px;
              color: rgb(145, 145, 145);

              &::after{
                transform: rotate(270deg);
              }
            }

            &:after {
              content: ">";
              font-size: 22px;
              position: absolute;
              top: -2px;
              right: -18px;
              transform: rotate(90deg);
              transition: 0.2s;
            }
          }

          a{
            color: #000;
            font-size: 17px;
            font-weight: 600;
            transition: 0.2s;

            &:hover{
              color: rgb(145, 145, 145);
              letter-spacing: 1px;
            }
          }
        }
      }
    }

    .main-logo{
      max-width: 180px;

      img{
        display: block;
        width: 100%;
      }
    }
  }
}