$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$blue4: #E6F0FF;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;
$pink: #fd17FD;
$pink2: #FDD7FD;
$pink3: #FEF5FE;
$grey: rgb(145, 145, 145);
$green: rgb(105, 219, 166);

header{
  padding: 16px 0;
  border-bottom: 2px solid $red;

  .container{
    align-items: center;
    justify-content: space-between;

    nav{
      align-items: center;
      justify-content: space-between;
      width: -webkit-fill-available;

      ul{
        gap: 36px;
        align-items: center;

        li{

          &:nth-child(2){
            margin-right: 12px;
          }

          span{
            color: #000;
            font-size: 17px;
            font-weight: 600;
            transition: 0.2s;

            &:hover{
              letter-spacing: 1px;
              color: rgb(145, 145, 145);

              &::after{
                transform: rotate(180deg);
              }
            }

            &:after {
              content: url(../../images/svgs/chevron_down.svg);
              position: absolute;
              top: -6px;
              transition: 0.2s;
            }
          }

          a{
            color: #000;
            font-size: 17px;
            font-weight: 600;
            transition: 0.2s;

            &:hover{
              color: rgb(145, 145, 145);
              letter-spacing: 1px;
            }
          }
        }
      }
    }

    .main-logo{
      max-width: 180px;

      img{
        display: block;
        width: 100%;
      }
    }
  }
}