$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$blue4: #e1edff;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$red4: #ffe3df;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$pink: #fd17FD;
$pink2: #FDD7FD;
$pink3: #FEF5FE;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;
$green: #4ff48f;
$green2: #9dffc2;
$green3: #e0ffec;


header {
  border-bottom: 2px solid $green;
}

.cource-main-banner{
  .container{
    background-color: $green3;

    .cource-main-info{
      .main-cource-age{
        background-color: $green2;
      }

      article{
        .cource-content{
          p{
            border: 2px solid $green;
            box-shadow: $green2 6px -6px;

            &:hover{
              box-shadow: $green 3px -3px;
            }
          }
        }

        a{
          background-color: $green;
          box-shadow: $green2 8px -8px;

          &:hover{
            box-shadow: $green2 4px -4px;
          }
        }
      }
    }
  }
}

.why{
  background-color: $green3;
}

.cource-teacher{
  .s-container{
    
    article{
      .cource-teachure-img{
        box-shadow: $green2 16px -16px;

        &:hover{
          box-shadow: $green 12px -12px;
        }
      }
    }
  }
}