$black: #000;
$white: #fff;
$green: #00B894;
$green2: #87E3D1;
$green3: #E1FFF9;


header {
  border-bottom: 2px solid $green;
}

.cource-main-banner{
  background-color: $green3;

  .container{
    .cource-main-info{
      .main-cource-age{
        background-color: $green2;
      }

      article{
        .cource-content{
          p{
            border: 2px solid $green;
            box-shadow: $green2 6px -6px;

            &:hover{
              box-shadow: $green 3px -3px;
            }
          }
        }

        a{
          background-color: $green;
          box-shadow: $green2 8px -8px;

          &:hover{
            box-shadow: $green2 4px -4px;
          }
        }
      }
    }
  }
}

.lesson-form{
  background-color: $green3;

  .container {
    border: 2px solid $green;
    box-shadow: $green3 10px -10px;

    h3{
      span{
        color: $green;
      }
    }
  }
}

.why {
.container {
  border: 2px solid $green;
  box-shadow: $green3 12px -12px;

  .highlight-text {
    color: $green !important;
    }
  }
}

.cource-teacher{
  background-color: $green3;

  .s-container{
    
    article{
      .cource-teachure-img{
        box-shadow: $green3 16px -16px;

        &:hover{
          box-shadow: $green2 12px -12px;
        }
      }

      .specialist{
        color: $green;
      }
    }
  }
}