header {
  border-bottom: 2px solid #00B894;
}

.cource-main-banner {
  background-color: #E1FFF9;
}
.cource-main-banner .container .cource-main-info .main-cource-age {
  background-color: #87E3D1;
}
.cource-main-banner .container .cource-main-info article .cource-content p {
  border: 2px solid #00B894;
  box-shadow: #87E3D1 6px -6px;
}
.cource-main-banner .container .cource-main-info article .cource-content p:hover {
  box-shadow: #00B894 3px -3px;
}
.cource-main-banner .container .cource-main-info article a {
  background-color: #00B894;
  box-shadow: #87E3D1 8px -8px;
}
.cource-main-banner .container .cource-main-info article a:hover {
  box-shadow: #87E3D1 4px -4px;
}

.lesson-form {
  background-color: #E1FFF9;
}
.lesson-form .container {
  border: 2px solid #00B894;
  box-shadow: #87E3D1 10px -10px;
}
.lesson-form .container h3 span {
  color: #00B894;
}

.cource-interest .s-container h3::after {
  transform: translateX(82px);
  top: 20px;
}

.why .container {
  border: 2px solid #00B894;
  box-shadow: #E1FFF9 12px -12px;
}
.why .container .highlight-text {
  color: #00B894 !important;
}

.cource-teacher {
  background-color: #E1FFF9;
}
.cource-teacher .s-container article .cource-teachure-img {
  box-shadow: #E1FFF9 16px -16px;
}
.cource-teacher .s-container article .cource-teachure-img:hover {
  box-shadow: #87E3D1 12px -12px;
}
.cource-teacher .s-container article .specialist {
  color: #00B894;
}

@media screen and (max-width: 767px) {
  .lesson-form-ma-media .container h3:after {
    right: -172px;
  }
}
@media screen and (max-width: 701px) {
  .lesson-form-ma-media .container h3:after {
    right: -74px;
  }
  .cource-interest-ma-media .s-container h3::after {
    display: none;
  }
}
@media screen and (max-width: 653px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 50px;
  }
}
@media screen and (max-width: 625px) {
  .lesson-form-ma-media .container h3:after {
    right: 27px;
  }
  .cource-interest-ma-media .s-container .cource-interest-item:first-of-type h4 {
    white-space: inherit;
  }
  .cource-interest-ma-media .s-container h3::before {
    left: 36px;
  }
}
@media screen and (max-width: 590px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 24px;
  }
}
@media screen and (max-width: 566px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 8px;
  }
}
@media screen and (max-width: 549px) {
  .cource-interest-ma-media .s-container h3::after {
    display: block;
    transform: translateX(26px);
    top: 57px;
  }
  .cource-interest-ma-media .s-container h3::before {
    left: 54px;
  }
}
@media screen and (max-width: 521px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 40px;
  }
}
@media screen and (max-width: 492px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 24px;
  }
}
@media screen and (max-width: 472px) {
  .lesson-form-ma-media .container h3:after {
    right: 0;
  }
}
@media screen and (max-width: 460px) {
  .lesson-form-ma-media .container h3:after {
    right: 18px;
    top: -4px;
  }
  .cource-interest-ma-media .s-container h3::after {
    transform: translateX(12px);
  }
}
@media screen and (max-width: 492px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 16px;
  }
}
@media screen and (max-width: 417px) {
  .cource-interest-ma-media .s-container h3::before {
    left: 4px;
  }
}
@media screen and (max-width: 392px) {
  .cource-interest-ma-media .s-container h3::before {
    left: -6px;
  }
}/*# sourceMappingURL=math.css.map */