header {
  border-bottom: 2px solid #F9CD37;
}

.cource-main-banner {
  background-color: #FEF9E6;
}
.cource-main-banner .container .cource-main-info .main-cource-age {
  background-color: #fff248;
}
.cource-main-banner .container .cource-main-info article .cource-content p {
  border: 2px solid #F9CD37;
  box-shadow: #FCE69B 6px -6px;
}
.cource-main-banner .container .cource-main-info article .cource-content p:hover {
  box-shadow: #fff248 3px -3px;
}
.cource-main-banner .container .cource-main-info article a {
  background-color: #F9CD37;
  box-shadow: #FCE69B 8px -8px;
}
.cource-main-banner .container .cource-main-info article a:hover {
  box-shadow: #fff248 4px -4px;
}

.lesson-form {
  background-color: #FEF9E6;
}
.lesson-form .container {
  border: 2px solid #F9CD37;
  box-shadow: #FCE69B 10px -10px;
}
.lesson-form .container h3 span {
  color: #F9CD37;
}

.why .container {
  border: 2px solid #F9CD37;
  box-shadow: #FCE69B 12px -12px;
}
.why .container .highlight-text {
  color: #F9CD37 !important;
}

.cource-teacher {
  background-color: #FEF9E6;
}
.cource-teacher .s-container article .cource-teachure-img {
  box-shadow: #FCE69B 16px -16px;
}
.cource-teacher .s-container article .cource-teachure-img:hover {
  box-shadow: #fff248 12px -12px;
}
.cource-teacher .s-container article .specialist {
  color: #F9CD37;
}

@media screen and (max-width: 2300px) {
  .lesson-form-scr-media .container h3:after {
    right: -130px;
  }
}
@media screen and (max-width: 767px) {
  .lesson-form-scr-media .container h3:after {
    right: -292px;
  }
}
@media screen and (max-width: 724px) {
  .lesson-form-scr-media .container h3:after {
    right: 234px;
    top: 30px;
  }
}
@media screen and (max-width: 644px) {
  .lesson-form-scr-media .container h3:after {
    right: 0px;
    top: 2px;
  }
}
.cource-interest-scr-media .s-container h3::after {
  transform: translateX(16px);
}

@media screen and (max-width: 677px) {
  .cource-interest-scr-media .s-container h3::after {
    top: 100px;
  }
  .cource-interest-scr-media .s-container h3::before {
    left: 165px;
  }
}
@media screen and (max-width: 652px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 149px;
  }
}
@media screen and (max-width: 628px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 136px;
  }
}
@media screen and (max-width: 597px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 118px;
  }
}
@media screen and (max-width: 565px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 106px;
  }
}
@media screen and (max-width: 530px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 90px;
  }
}
@media screen and (max-width: 505px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 74px;
  }
}
@media screen and (max-width: 477px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 58px;
  }
}
@media screen and (max-width: 460px) {
  .advantages .S-container h3::after {
    left: 60px;
  }
}
@media screen and (max-width: 429px) {
  .advantages-scr-media .S-container h3::after {
    left: 62px;
    top: 76px;
  }
  .advantages .S-container h3::after {
    content: url(../../images/svgs/pink_under_small.svg);
    position: absolute;
  }
}
@media screen and (max-width: 400px) {
  .advantages-scr-media .S-container h3::after {
    left: 36px;
  }
}
@media screen and (max-width: 428px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 48px;
  }
}
@media screen and (max-width: 406px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 34px;
  }
}
@media screen and (max-width: 382px) {
  .cource-interest-scr-media .s-container h3::before {
    left: 24px;
  }
}/*# sourceMappingURL=scratch.css.map */