$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$blue4: #E6F0FF;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;
$pink: #fd17FD;
$pink2: #FDD7FD;
$pink3: #FEF5FE;
$grey: rgb(145, 145, 145);
$green: #00B894;
$green2: #87E3D1;
$green3: #E1FFF9;


//


.main-banner {

  .comment-img{
    img{
      width: 180px;
      display: none;
    }
  }

  .s-container {

    article {
      height: calc(100vh - 73px);
      justify-content: space-around;
      align-items: center;

      .main-info {
        max-width: 510px;
        position: relative;

        img{
          position: absolute;
          top: -22px;
          left: -26px;
        }

        h1{
          font-size: 48px;
          font-weight: 700;
          position: relative;
          line-height: 130%;
        }

        .svgblock_main{
          position: relative;

          img{
            position: absolute;
            left: 308px;
            top: 6px;
          }
        }

        p{
          color: $black;
          font-size: 22px;
          font-weight: 400;
          max-width: 320px;
          margin-top: 10px;
          line-height: 140%;
        }

        a{
          font-size: 24px;
          font-weight: 700;
          color: $white;
          background-color: $blue;
          padding: 12px 20px;
          transition: 0.2s;
          margin-top: 32px;
          line-height: 130%;

          &:hover {
            padding: 12px 24px;
            letter-spacing: 1px;
          }
        }
      }

      .main-img{
        max-width: 360px;
        position: relative;
        transition: 0.2s;

        img{
          width: 100%;
          display: block;
        }

        .absKent{
          position: absolute;
          max-width: 360px;
          bottom: 0;
          right: -166px;
  
          img{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

.cources{
  padding: 24px 0 120px;
  
  .container{
    h2{
      font-size: 40px;
      font-weight: 700;
      color: $black;
      margin-bottom: 42px;
      line-height: 125%;
    }

    article{
      max-width: 360px;

      .cource-img{
        width: 100%;

        img{
          display: block;
        }
      }

      .cource-info{
        padding: 0 24px;
        border-top: none;

        .age{
          justify-content: end;

          p{
            color: $black;
            background-color: $white;
            font-size: 17px;
            font-weight: 700;
            padding: 6px 12px;
            margin: 24px 0 4px;
          }
        }

        h3{
          color: $white;
          font-size: 32px;
          font-weight: 700;
          text-align: start;
          line-height: 130%;
        }

        p{
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-top: 14px;
          letter-spacing: 1px;
          margin: 24px 0 108px;
          text-align: start;
          max-height: 120px;
          line-height: 130%;
        }

        .bold{
          font-weight: 700;
          text-align: start;
          margin: 0;
          line-height: 130%;
          position: relative;
          bottom: 3px;
        }
        .chev-right{
          max-width: 20px;

          img{
            width: 100%;
            display: block;
          }
        }

        .more{
          align-items: center;
          gap: 6px;

          &:after{
            content: url(../../images/svgs/cource-chevron.svg);
          }
        }
      }
    }
  }
}

.education{
  .S-container{
    h3{
      color: $black;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 68px;
      line-height: 130%;
    }

    .education-item{
      justify-content: space-between;
      align-items: center;
      margin-bottom: 98px;

      .education-info{
        max-width: 442px;

        h5{
          color: $black;
          font-size: 28px;
          font-weight: 700;
          line-height: 130%;
        }

        p{
          color: $black;
          font-size: 16px;
          font-weight: 400;
          word-spacing: 5px;
          letter-spacing: 0.5px;
          margin-top: 10px;
          line-height: 150%;
        }
      }
    }
  }
}

.goals{
  background-color: $blue4;
  padding: 80px 0 58px;
  position: relative;

  .kvadratan{
    img{
      display: none;
    }
  }

  .container{
    h3{
      color: $black;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 48px;
      line-height: 130%;
    }

    .goal-info{
      justify-content: space-between;
      align-items: center;

      .goal-item{
        max-width: 320px;

        .goal-img{
          justify-content: space-between;

          .goal-img-1{
            max-width: 106px;

            img{
              width: 100%;
              display: block;
            }
          }

          .goal-img-2{
            max-width: 120px;

            img{
              width: 100%;
              display: block;
            }
          }
        }

        .goal-text{
          margin-top: 18px;
          position: relative;

          h6{
            color: $black;
            font-size: 28px;
            font-weight: 600;
            line-height: 130%;
          }

          p{
            color: $black;
            font-size: 16px;
            font-weight: 400;
            word-spacing: 3px;
            margin-top: 8px;
            line-height: 150%;
          }

          img{
            position: absolute;
            left: -112px;
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
}

.advantages{
  padding: 140px 0;

  .container{
    flex-direction: column;
    align-items: stretch;
    gap: 30px;

    .advantages-item{
      align-items: center;
      justify-content: center;
      gap: 30px;

      &:first-of-type{
        justify-content: space-around;

        h6,p{
          &::selection{
            background-color: #6efc86c8;
          }
        }
      }

      .advantages-img-com{
        max-width: 456px;

        img{
          width: 100%;
          display: block;
        }
      }

      .advantages-img-com_type{
        max-width: 590px;

        img{
          width: 100%;
          display: block;
        }
      }

      h3{
        color: $black;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        max-width: 368px;
        line-height: 125%;
      }

      .advantages-info{
        align-items: center;
        gap: 36px;
        max-width: 618px;
        background-color: $red;
        padding: 32px 16px;

        h6{
          color: $white;
          font-size: 28px;
          font-weight: 700;
        }

        p{
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-top: 8px;
          line-height: 150%;
        }

        .advantages-info_chevron{
          width: 108px;

          img{
            width: 100%;
            display: block;
          }
        }
      }

      .advantages-info_type{
        max-width: 484px;
        padding: 27px 16px;
      }
    }
  }
}

.consultation-form{
  background-color: $blue;
  padding: 105px 0;
  position: relative;

  .consultation-svg{
    max-width: 140px;
    position: absolute;
    top: 72px;

    img{
      width: 100%;
      display: flex;
    }
  }

  .container{
    justify-content: space-between;
    align-items: center;
    gap: 46px;

    .form-info{
      max-width: 530px;

      h3{
        color: $white;
        font-size: 40px;
        font-weight: 700;
        line-height: 125%;
      }
  
      p{
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin-top: 16px;
        line-height: 140%;
      }
    }

    .form-container{
      width: 552px;

      form{  
        .input-item{
          margin-bottom: 24px;
  
          label{
            display: none;
          }

          input{
            padding: 16px;
            width: 100%;
            border: none;
            font-size: 16px;

            &::placeholder{
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.faq{
  padding: 100px 0 116px;

  .container{
    h3{
      margin: auto;
      text-align: center;
      color: $black;
      font-size: 40px;
      font-weight: 700;
      max-width: 505px;
      margin-bottom: 80px;
      line-height: 125%;
    }
  }
}

.interest{
  background-color: #E6F0FF;
  padding-top: 80px;

  .s-container{
    justify-content: space-between;

    .interest-content{
      max-width: 448px;

      h5{
        color: $black;
        font-size: 40px;
        font-weight: 700;
        line-height: 125%;
      }
  
      p{
        color: $black;
        font-size: 24px;
        font-weight: 400;
        margin-top: 16px;
        line-height: 130%;
      }
    }

    .interest-img{
      max-width: 330px;

      img{
        width: 100%;
        display: block;
      }
    }
  }
}

.cource-main-banner{
  margin-top: 36px;

  .main-cource-smallImg{
    position: relative;

    img{
      display: none;
      width: 100%;
    }

    .main-cource-svg2{
      width: 48px;

      img{
        display: none;
        width: 100%;
      }
    }
  }

  .container{
    background-color: $pink3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cource-main-info{
      max-width: 445px;
      margin-left: 36px;

      .main-cource-svg{
        width: 48px;
        margin-bottom: 56px;
        
        img{
          display: block;
          width: 100%;
        }
      }

      .main-cource-age{
        padding: 6px 12px;
        background-color: $pink2;
        max-width: 104px;
        margin-bottom: 24px;

        p{
          color: $black;
          font-size: 17px;
          font-weight: 700;
        }
      }

      article{
        h1{
          color: $black;
          font-size: 48px;
          font-weight: 700;
          margin-bottom: 8px; 
          line-height: 110%;
        }

        p{
          color: $black;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 32px;
          line-height: 150%;
        }

        .cource-content{
          justify-content: space-between;
          margin-bottom: 48px;

          p{
            max-width: 130px;
            padding: 8px;
            color: 16px;
            font-size: 16px;
            font-weight: 600;
            border: 2px solid $purple;
            box-shadow: $pink2 6px -6px;
            text-align: center;
            transition: 0.15s;

          &:hover{
            box-shadow: $purple 3px -3px;
            word-spacing: 2px;
          }
          }
        }

        a{
          color: $white;
          font-size: 24px;
          font-weight: 700;
          padding: 17px 0;
          background-color: $purple;
          box-shadow: $pink2 8px -8px;
          width: -webkit-fill-available;
          text-align: center;
          transition: 0.15s;

          &:hover{
            box-shadow: $pink 4px -4px;
            letter-spacing: 2px;
            word-spacing: 5px;
          }
        }
      }
    }

    .cource-main-img{
      max-width: 456px;

      img{
        display: block;
        width: 100%;
      }
    }
  }
}

.whatis-cource{
  margin-top: 96px;

  .container{
    max-width: 1127px;

    h2{
      margin-bottom: 32px;
      color: $black;
      font-size: 40px;
      font-weight: 700;
    }
    
    .cource-page-infoblock{
      gap: 28px;
      justify-content: space-between;
      margin-top: 24px;


      .left-whatis-wrapper{
        max-width: 672px;

        h4{
          color: $white;
          font-size: 28px;
          font-weight: 700;
          margin-bottom: 8px;
          line-height: 130%;
        }

        .whatis-item{
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          border: 2px solid $blue;
          gap: 42px;
          padding: 0 16px;

          &:first-of-type{
            min-height: 203px;

            p{
              color: $white;
              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
            }
          }

          &:last-of-type{
            min-height: 154px;
            gap: 12px;

            p{
              color: $black;
              font-size: 16px;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }
      }

      .right-whatis-wrapper{
        max-width: 426px;

        .whatis-item{
          align-items: center;
          justify-content: space-between;
          margin-bottom: 24px;
          border: 2px solid $blue;
          min-height: 154px;
          gap: 12px;
          padding: 0 16px;

          p{
            color: $black;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
          }
        }

        .embaresed-img{
          margin-bottom: 24px;
          max-width: 426px;

          img{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

.cource-learn{
  padding-top: 112px;
  .container{
    max-width: 1127px;
    justify-content: space-between;

    h3{
      color: $black;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 72px;
    }
    ul {
      li{
        color: $black;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 30px;
        display: flex;

        &::before{
          content: url('../../images/svgs/arrow-forward.svg');
          position: relative;
          top: 5px;
          margin-right: 12px;
        }
      }
    }
    .tech-images{
      max-width: 294px;

      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li{
          max-width: 131px;
          margin-bottom: 26px;

          &::before{
            content: none;
          }

          img{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

.how{
  h3{
    color: $black;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
  }

  .container{
    max-width: 1127px;
    justify-content: space-between;
    gap: 16px;

    .how-img-small{
      width: 0;

      img{
        display: none;
        width: 100%;
      }
    }

    .how-img{
      max-width: 312px;

      img{
        display: block;
        width: 100%;
      }
    }

    .how-block{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;

      .how-item{
        display: flex;
        align-items: center;
        gap: 28px;
        max-width: 385px;
        min-height: 266px;
        padding: 20px 16px;
  
        h5{
          color: $white;
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 8px;
          line-height: 130%;
        }

        p{
          color: $white;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.5px;
          line-height: 150%;
        }

        .how-item-img{
          img{
            display: block;
            width: 48px;
          }
        }
      }
    }
  }
}

.why{
  margin-top: 120px;
  padding: 74px 0;
  background-color: $pink3;

  h2{
    color: $black;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 86px;
    text-align: center;
  }

  .container{
    max-width: 1127px;
    justify-content: space-between;
    align-items: center;
    gap: 28px;

    .why-item{
      max-width: 330px;

      .why-img{
          img{
            display: block;
          }
      }

      h5{
        color: $black;
        font-size: 28px;
        font-weight: 700;
        margin: 18px 0 8px;
        line-height: 130%;
      }

      p{
        color: $black;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}

.cource-teacher{
  padding: 120px 0 102px;

  .s-container{
    
    article{
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      h5{
        color: $black;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 72px;
      }

      h6{
        color: $black;
        font-size: 32px;
        font-weight: 700;
      }

      p{
        color: $black;
        font-size: 20px;
        font-weight: 400;
        max-width: 384px;

        &:last-of-type{
          font-size: 16px;
          margin-top: 16px;
        }
      }

      .teachure-img-block{
        h5{
          display: none;
        }
      }

      .cource-teachure-img{
        max-width: 364px;
        box-shadow: $pink2 16px -16px;
        transition: 0.2s;
        position: relative;

        &:hover{
          box-shadow: $purple 12px -12px;
        }

        .cource-kent{
          max-width: 272px;
          position: absolute;
          bottom: 0;
          right: -140px;

          img{
            width: 100%;
            display: block;
          }
        }

        img{
          width: 100%;
          display: block;
        }
      }
    }
  }
}