$black: #000;
$white: #fff;
$blue: #3586FF;
$blue2: #61A0FF;
$blue3: #BDD7FF;
$red: #FE6A5D;
$red2: #FEACA4;
$red3: #FED2CD;
$purple: #F99AF9;
$purple2: #FAD1FA;
$purple3: #FCE9FC;
$yello: #F7C005;
$yello2: #FCDB6E;
$yello3: #FCEAB0;


//


.main-banner {

  .comment-img{
    img{
      width: 180px;
      display: none;
    }
  }

  .s-container {

    article {
      height: calc(100vh - 73px);
      justify-content: space-around;
      align-items: center;

      .main-info {
        max-width: 510px;
        position: relative;

        img{
          position: absolute;
          top: -22px;
          left: -26px;
        }

        h1{
          font-size: 48px;
          font-weight: 700;
          position: relative;
        }

        .svgblock_main{
          position: relative;

          img{
            position: absolute;
            left: 270px;
            top: 6px;
          }
        }

        p{
          color: $black;
          font-size: 20px;
          font-weight: 400;
          max-width: 320px;
          margin-top: 10px;
        }

        a{
          font-size: 24px;
          font-weight: 700;
          color: $white;
          background-color: $blue;
          padding: 12px 20px;
          box-shadow: 8px -8px $blue3;
          transition: 0.2s;
          margin-top: 32px;

          &:hover {
            box-shadow: 4px -4px $blue2;
            padding: 12px 24px;
            letter-spacing: 1px;
          }
        }
      }

      .main-img{
        max-width: 360px;
        position: relative;
        box-shadow: 18px -18px $red3;
        transition: 0.2s;

        &:hover{
          box-shadow: 14px -14px $red2;
        }

        img{
          width: 100%;
          display: block;
        }

        .absKent{
          position: absolute;
          max-width: 360px;
          bottom: 0;
          right: -166px;
  
          img{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

.cources{
  padding: 24px 0 120px;
  
  .container{
    h2{
      font-size: 40px;
      font-weight: 700;
      color: $black;
      margin-bottom: 42px;
    }

    article{
      max-width: 360px;

      .cource-img{
        width: 100%;

        img{
          display: block;
        }
      }

      .cource-info{
        padding: 0 24px;
        border: 2px solid $purple;
        border-top: none;

        .age{
          justify-content: end;

          p{
            color: $black;
            font-size: 17px;
            font-weight: 700;
            padding: 6px 12px;
            background-color: $purple2;
            margin: 24px 0 4px;
          }
        }

        h3{
          color: $black;
          font-size: 32px;
          font-weight: 700;
          text-align: start;
        }

        p{
          color: $black;
          font-size: 16px;
          font-weight: 400;
          margin-top: 14px;
          letter-spacing: 1px;
          margin: 24px 0 86px;
          text-align: start;
          max-height: 120px;
        }

        .bold{
          font-weight: 700;
          text-align: start;
          margin: 24px 0;
        }
        .chev-right{
          max-width: 20px;

          img{
            width: 100%;
            display: block;
          }
        }

        .more{
          align-items: center;
          gap: 6px;
        }
      }
    }
  }
}

.education{
  .S-container{
    h3{
      color: $black;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 68px;
    }

    .education-item{
      justify-content: space-between;
      align-items: center;
      margin-bottom: 120px;

      .education-info{
        max-width: 442px;

        h5{
          color: $black;
          font-size: 28px;
          font-weight: 700;
        }

        p{
          color: $black;
          font-size: 16px;
          font-weight: 400;
          word-spacing: 5px;
          letter-spacing: 0.5px;
          margin-top: 10px;
        }
      }
    }
  }
}

.goals{
  background-color: $yello3;
  padding: 80px 0;
  position: relative;

  .kvadratan{
    img{
      display: none;
    }
  }

  .container{
    h3{
      color: $black;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 48px;
    }

    .goal-info{
      justify-content: space-between;
      align-items: center;

      .goal-item{
        max-width: 320px;

        .goal-img{
          justify-content: space-between;

          .goal-img-1{
            max-width: 106px;

            img{
              width: 100%;
              display: block;
            }
          }

          .goal-img-2{
            max-width: 120px;

            img{
              width: 100%;
              display: block;
            }
          }
        }

        .goal-text{
          margin-top: 18px;
          position: relative;

          h6{
            color: $black;
            font-size: 28px;
            font-weight: 600;
          }

          p{
            color: $black;
            font-size: 16px;
            font-weight: 400;
            word-spacing: 3px;
            margin-top: 8px;
          }

          img{
            position: absolute;
            left: -118px;
          }
        }
      }
    }
  }
}

.advantages{
  padding: 180px 0;

  .container{
    flex-direction: column;
    align-items: stretch;
    gap: 30px;

    .advantages-item{
      align-items: center;
      justify-content: center;
      gap: 30px;

      &:first-of-type{
        justify-content: space-around;
      }

      .advantages-img-com{
        max-width: 456px;

        img{
          width: 100%;
          display: block;
        }
      }

      .advantages-img-com_type{
        max-width: 590px;

        img{
          width: 100%;
          display: block;
        }
      }

      h3{
        color: $black;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        max-width: 368px;
      }

      .advantages-info{
        align-items: center;
        gap: 36px;
        max-width: 618px;
        background-color: $red;
        padding: 32px 16px;

        h6{
          color: $white;
          font-size: 28px;
          font-weight: 700;
        }

        p{
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-top: 8px;
        }

        .advantages-info_chevron{
          width: 108px;

          img{
            width: 100%;
            display: block;
          }
        }
      }

      .advantages-info_type{
        max-width: 484px;
        padding: 27px 16px;
      }
    }
  }
}

.consultation-form{
  background-color: $blue;
  padding: 105px 0;
  position: relative;

  .consultation-svg{
    max-width: 140px;
    position: absolute;
    top: 72px;

    img{
      width: 100%;
      display: flex;
    }
  }

  .container{
    justify-content: space-between;
    align-items: center;
    gap: 46px;

    .form-info{
      max-width: 530px;

      h3{
        color: $white;
        font-size: 40px;
        font-weight: 700;
      }
  
      p{
        color: $white;
        font-size: 20px;
        font-weight: 400;
        margin-top: 16px;
      }
    }

    .form-container{
      width: 552px;

      form{  
        .input-item{
          margin-bottom: 24px;
  
          label{
            display: none;
          }

          input{
            padding: 16px;
            width: 100%;
            border: none;
          }
        }
      }
    }
  }
}

.teachures{
  padding: 112px 0 82px;

  h4{
    color: $black;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }

  .teachers-block{
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;

    article{
      max-width: 264px;

      .teacher-img{
        max-width: 264px;

        img{
          display: block;
          width: 100%;
        }
      }

      h5{
        color: $black;
        font-size: 32px;
        font-weight: 700;
        margin-top: 20px;
        text-align: center;
      }

      p{
        text-align: center;

        &:nth-child(3){
          color: $black;
          font-size: 20px;
          font-weight: 400;
        }
        &:nth-child(4){
          color: $black;
          font-size: 16px;
          font-weight: 400;
          margin-top: 8px;
        }
      }
    }
  }
}

.faq{
  padding: 100px 0 116px;

  .container{
    h3{
      margin: auto;
      text-align: center;
      color: $black;
      font-size: 40px;
      font-weight: 700;
      max-width: 505px;
      margin-bottom: 80px;
    }
  }
}

.interest{
  background-color: #E6F0FF;
  padding-top: 80px;

  .s-container{
    justify-content: space-between;

    .interest-content{
      max-width: 448px;

      h5{
        color: $black;
        font-size: 40px;
        font-weight: 700;
      }
  
      p{
        color: $black;
        font-size: 24px;
        font-weight: 400;
        margin-top: 16px;
      }
    }

    .interest-img{
      max-width: 330px;

      img{
        width: 100%;
        display: block;
      }
    }
  }
}