.main-banner .s-container article {
  height: calc(100vh - 73px);
  justify-content: space-around;
  align-items: center;
}
.main-banner .s-container article .main-info {
  max-width: 510px;
  position: relative;
}
.main-banner .s-container article .main-info img {
  position: absolute;
  top: -22px;
  left: -26px;
}
.main-banner .s-container article .main-info h1 {
  font-size: 48px;
  font-weight: 700;
  position: relative;
}
.main-banner .s-container article .main-info .svgblock_main {
  position: relative;
}
.main-banner .s-container article .main-info .svgblock_main img {
  position: absolute;
  left: 248px;
  top: -2px;
}
.main-banner .s-container article .main-info p {
  font-size: 20px;
  font-weight: 400;
  max-width: 320px;
  margin-top: 8px;
}
.main-banner .s-container article .main-info a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3586FF;
  padding: 12px 18px;
  box-shadow: 8px -8px #BDD7FF;
  transition: 0.2s;
  margin-top: 30px;
}
.main-banner .s-container article .main-info a:hover {
  box-shadow: 4px -4px #61A0FF;
  padding: 12px 22px;
}
.main-banner .s-container article .main-img {
  max-width: 360px;
  position: relative;
  box-shadow: 18px -18px #FED2CD;
  transition: 0.2s;
}
.main-banner .s-container article .main-img:hover {
  box-shadow: 14px -14px #FEACA4;
}
.main-banner .s-container article .main-img img {
  width: 100%;
  display: block;
}
.main-banner .s-container article .absKent {
  position: absolute;
  max-width: 360px;
  left: -194px;
  bottom: -76px;
}
.main-banner .s-container article .absKent img {
  display: block;
  width: 100%;
}

.cources {
  padding-bottom: 120px;
}
.cources .container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 42px;
}
.cources .container article {
  width: 360px;
}
.cources .container article .cource-img {
  position: relative;
  top: 6px;
  max-width: 360px;
}
.cources .container article .cource-img img {
  width: 100%;
  display: block;
}
.cources .container article .cource-info {
  padding: 0 24px;
  border: 2px solid #F99AF9;
  border-top: none;
  padding-bottom: 27px;
}
.cources .container article .cource-info .age {
  justify-content: end;
}
.cources .container article .cource-info .age p {
  color: #000;
  font-size: 17px;
  font-weight: 700;
  padding: 6px 12px;
  background-color: #FAD1FA;
}
.cources .container article .cource-info h3 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
}
.cources .container article .cource-info p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
  letter-spacing: 1px;
  margin: 14px 0 40px;
}
.cources .container article .cource-info .bold {
  font-weight: 700;
}

.education .S-container h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 68px;
}
.education .S-container .education-item {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.education .S-container .education-item .education-info {
  max-width: 442px;
}
.education .S-container .education-item .education-info h5 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
}
.education .S-container .education-item .education-info p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}

.goals {
  background-color: #FCEAB0;
  padding: 80px 0;
}
.goals .container h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
}
.goals .container .goal-info {
  justify-content: space-between;
  align-items: center;
}
.goals .container .goal-info .goal-item {
  max-width: 320px;
}
.goals .container .goal-info .goal-item .goal-img {
  justify-content: space-between;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-1 {
  max-width: 106px;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-1 img {
  width: 100%;
  display: block;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-2 {
  max-width: 120px;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-2 img {
  width: 100%;
  display: block;
}
.goals .container .goal-info .goal-item .goal-text {
  margin-top: 18px;
  position: relative;
}
.goals .container .goal-info .goal-item .goal-text h6 {
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.goals .container .goal-info .goal-item .goal-text p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 3px;
  margin-top: 8px;
}
.goals .container .goal-info .goal-item .goal-text img {
  position: absolute;
  left: -118px;
}

.advantages {
  padding: 180px 0;
}
.advantages .container {
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}
.advantages .container .advantages-item {
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.advantages .container .advantages-item .advantages-img-com {
  max-width: 456px;
}
.advantages .container .advantages-item .advantages-img-com img {
  width: 100%;
  display: block;
}
.advantages .container .advantages-item .advantages-img-com_type {
  max-width: 590px;
}
.advantages .container .advantages-item .advantages-img-com_type img {
  width: 100%;
  display: block;
}
.advantages .container .advantages-item h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  max-width: 368px;
}
.advantages .container .advantages-item .advantages-info {
  align-items: center;
  gap: 36px;
  max-width: 618px;
  background-color: #FE6A5D;
  padding: 32px 16px;
}
.advantages .container .advantages-item .advantages-info h6 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.advantages .container .advantages-item .advantages-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}
.advantages .container .advantages-item .advantages-info .advantages-info_chevron {
  max-width: 48px;
}
.advantages .container .advantages-item .advantages-info .advantages-info_chevron img {
  width: 100%;
  display: block;
}
.advantages .container .advantages-item .advantages-info_type {
  max-width: 484px;
  padding: 27px 16px;
}

.consultation-form {
  background-color: #3586FF;
  padding: 105px 0;
  position: relative;
}
.consultation-form .consultation-svg {
  max-width: 140px;
  position: absolute;
  top: 72px;
}
.consultation-form .consultation-svg img {
  width: 100%;
  display: flex;
}
.consultation-form .container {
  justify-content: space-between;
  align-items: center;
}
.consultation-form .container .form-info {
  max-width: 530px;
}
.consultation-form .container .form-info h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.consultation-form .container .form-info p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}
.consultation-form .container .form-container {
  width: 552px;
}
.consultation-form .container .form-container form .input-item {
  margin-bottom: 24px;
}
.consultation-form .container .form-container form .input-item label {
  display: none;
}
.consultation-form .container .form-container form .input-item input {
  padding: 16px;
  width: 100%;
  border: none;
}
.consultation-form .container .form-container form .input-item .login button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 16px 0;
  color: #fff;
}

.teachures {
  padding: 112px 0 82px;
}
.teachures h4 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.teachures .teachers-block {
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
}
.teachures .teachers-block article {
  max-width: 264px;
}
.teachures .teachers-block article .teacher-img {
  max-width: 264px;
}
.teachures .teachers-block article .teacher-img img {
  display: block;
  width: 100%;
}
.teachures .teachers-block article h5 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
}
.teachures .teachers-block article p {
  text-align: center;
}
.teachures .teachers-block article p:nth-child(3) {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.teachures .teachers-block article p:nth-child(4) {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

/*# sourceMappingURL=main.css.map */
