.main-banner {
  position: relative;
  background-color: #E6F0FF;
  background-image: url(../../images/main-ban-back.svg);
}
.main-banner .left-main-img {
  position: absolute;
  left: -80px;
  bottom: 0;
  max-width: 447px;
}
.main-banner .left-main-img img {
  display: block;
  width: 100%;
}
.main-banner .main-vector {
  position: absolute;
  right: 0;
  bottom: -56px;
  display: none;
}
.main-banner .comment-img img {
  width: 180px;
  display: none;
}
.main-banner .main-tipok {
  max-width: 324px;
  position: absolute;
  bottom: 0;
  right: 76px;
}
.main-banner .main-tipok img {
  display: block;
  width: 100%;
}
.main-banner .mobile-mainkent {
  max-width: 213px;
}
.main-banner .mobile-mainkent img {
  display: none;
  width: 100%;
}
.main-banner .container article {
  height: calc(100vh - 82px);
  justify-content: space-around;
  align-items: center;
}
.main-banner .container article .main-info {
  max-width: 510px;
  position: relative;
  text-align: center;
}
.main-banner .container article .main-info .main-text {
  display: flex;
  justify-content: center;
}
.main-banner .container article .main-info img {
  position: absolute;
  top: -22px;
  left: -26px;
}
.main-banner .container article .main-info h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  line-height: 152%;
  display: inline;
  background-color: #FE6A5D;
  box-shadow: #FEACA4 6px -6px;
  padding: 4px 6px;
}
.main-banner .container article .main-info h1::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: absolute;
  top: -52px;
  left: -32px;
}
.main-banner .container article .main-info .svgblock_main {
  position: relative;
}
.main-banner .container article .main-info .svgblock_main img {
  position: absolute;
  left: 336px;
  top: -15px;
}
.main-banner .container article .main-info p {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  max-width: 320px;
  margin-top: 10px;
  line-height: 140%;
}
.main-banner .container article .main-info a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #3586FF;
  padding: 12px 20px;
  transition: 0.2s;
  margin-top: 32px;
  line-height: 130%;
  box-shadow: #BDD7FF 8px -8px;
}
.main-banner .container article .main-info a:hover {
  padding: 12px 24px;
  letter-spacing: 1px;
  padding: 12px 24px;
  box-shadow: #61A0FF 5px -5px;
}
.main-banner .container article .main-img {
  max-width: 360px;
  position: relative;
  transition: 0.2s;
}
.main-banner .container article .main-img img {
  width: 100%;
  display: block;
}
.main-banner .container article .main-img .absKent {
  position: absolute;
  max-width: 360px;
  bottom: 0;
  right: -166px;
}
.main-banner .container article .main-img .absKent img {
  display: block;
  width: 100%;
}

.cources {
  padding-top: 24px;
}
.cources .container .cource_underline {
  position: absolute;
}
.cources .container h2 {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 42px;
  line-height: 125%;
}
.cources .container article {
  max-width: 360px;
}
.cources .container article .cource-img {
  width: 100%;
}
.cources .container article .cource-img img {
  display: block;
}
.cources .container article .cource-info {
  padding: 0 24px 12px;
}
.cources .container article .cource-info .age {
  justify-content: end;
}
.cources .container article .cource-info .age p {
  color: #000;
  background-color: #fff;
  font-size: 17px;
  font-weight: 700;
  padding: 6px 12px;
  margin: 24px 0 4px;
}
.cources .container article .cource-info h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: start;
  line-height: 130%;
}
.cources .container article .cource-info p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 14px;
  letter-spacing: 1px;
  margin: 24px 0 108px;
  text-align: start;
  max-height: 120px;
  line-height: 130%;
}
.cources .container article .cource-info .bold {
  font-weight: 700;
  text-align: start;
  margin: 0;
  line-height: 130%;
  position: relative;
  bottom: 3px;
}
.cources .container article .cource-info .more {
  align-items: center;
  gap: 6px;
}
.cources .container article .cource-info .more:after {
  content: url(../../images/svgs/cource-chevron.svg);
}

.education {
  background-image: url(../../images/education-back.svg);
  padding-top: 112px;
}
.education .S-container h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 62px;
  line-height: 130%;
}
.education .S-container h3::after {
  content: url(../../images/svgs/education.svg);
  position: relative;
  bottom: 18px;
  left: 20px;
}
.education .S-container h3::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: relative;
  bottom: 22px;
  left: 6px;
}
.education .S-container .education-item {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 98px;
}
.education .S-container .education-item .education-info {
  max-width: 442px;
}
.education .S-container .education-item .education-info h5 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  display: inline-block;
  padding: 0 6px;
}
.education .S-container .education-item .education-info p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 0.5px;
  margin-top: 10px;
  line-height: 150%;
}

.goals {
  background-color: #E6F0FF;
  padding: 80px 15px 58px;
  position: relative;
}
.goals .line-img-pink {
  position: absolute;
  top: -22px;
  left: 0;
  z-index: 1;
}
.goals .line-img-pink img {
  display: block;
  width: 100%;
}
.goals .container {
  border: 2px solid #3586FF;
  box-shadow: #CCE1FF 10px -10px;
  padding: 44px 20px;
  background-color: #fff;
  position: relative;
}
.goals .container .kvadratan-velky {
  position: absolute;
  top: 20px;
  right: -50px;
}
.goals .container .kvadratan-velky img {
  width: 100%;
  display: block;
}
.goals .container h3 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
  line-height: 130%;
}
.goals .container .goal-info {
  justify-content: space-between;
  align-items: center;
}
.goals .container .goal-info .goal-item {
  max-width: 320px;
}
.goals .container .goal-info .goal-item .goal-img {
  justify-content: space-between;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-1 {
  max-width: 106px;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-1 img {
  width: 100%;
  display: block;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-2 {
  max-width: 120px;
}
.goals .container .goal-info .goal-item .goal-img .goal-img-2 img {
  width: 100%;
  display: block;
}
.goals .container .goal-info .goal-item .goal-text {
  margin-top: 18px;
  position: relative;
}
.goals .container .goal-info .goal-item .goal-text h6 {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
}
.goals .container .goal-info .goal-item .goal-text p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  word-spacing: 3px;
  margin-top: 8px;
  line-height: 150%;
}
.goals .container .goal-info .goal-item .goal-text img {
  position: absolute;
  left: -112px;
  transform: rotateX(180deg);
}

.advantages {
  margin-top: 57px;
}
.advantages .S-container {
  display: flex;
  flex-direction: column;
}
.advantages .S-container h3 {
  font-size: 40px;
  font-weight: 700;
  flood-color: #000;
  text-align: center;
  line-height: 125%;
  position: relative;
}
.advantages .S-container h3::after {
  content: url(../../images/svgs/purp-underline.svg);
  position: absolute;
  left: 260px;
  top: 82px;
}
.advantages .S-container h3::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: relative;
  bottom: 22px;
  left: 6px;
}
.advantages .S-container h4 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  display: inline-block;
  padding: 0 6px;
}
.advantages .S-container p {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 140%;
  margin-top: 16px;
}
.advantages .S-container .advantage-item {
  margin-top: 64px;
  display: flex;
  gap: 24px;
}
.advantages .S-container .advantage-item:nth-child(2) h4 {
  background-color: #FEF5FE;
}
.advantages .S-container .advantage-item:nth-child(3) h4 {
  background-color: #E6F0FF;
}
.advantages .S-container .advantage-item:nth-child(4) h4 {
  background-color: #FEF9E6;
}
.advantages .S-container .advantage-item:nth-child(5) h4 {
  background-color: #E1FFF9;
}
.advantages .S-container .kent-bottom {
  max-width: 480px;
  margin-top: 32px;
  align-self: flex-end;
}
.advantages .S-container .kent-bottom img {
  display: block;
  width: 100%;
}

.consultation-form {
  background-color: #3586FF;
  padding: 105px 0;
  position: relative;
}
.consultation-form .consultation-svg {
  max-width: 140px;
  position: absolute;
  top: 72px;
}
.consultation-form .consultation-svg img {
  width: 100%;
  display: flex;
}
.consultation-form .container {
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}
.consultation-form .container .form-info {
  max-width: 530px;
}
.consultation-form .container .form-info h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
}
.consultation-form .container .form-info p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 140%;
}
.consultation-form .container .form-container {
  width: 552px;
}
.consultation-form .container .form-container form button {
  border: none;
}
.consultation-form .container .form-container form .input-item {
  margin-bottom: 24px;
}
.consultation-form .container .form-container form .input-item label {
  display: none;
}
.consultation-form .container .form-container form .input-item input {
  padding: 16px;
  width: 100%;
  border: none;
  font-size: 16px;
}
.consultation-form .container .form-container form .input-item input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.faq {
  padding: 100px 0 116px;
}
.faq .container h3 {
  margin: auto;
  text-align: center;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  max-width: 505px;
  margin-bottom: 80px;
  line-height: 125%;
}

.interest {
  background-color: #E6F0FF;
  padding-top: 80px;
}
.interest .s-container {
  justify-content: space-between;
}
.interest .s-container .interest-content {
  max-width: 448px;
}
.interest .s-container .interest-content h5 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
}
.interest .s-container .interest-content p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 130%;
}
.interest .s-container .interest-img {
  max-width: 330px;
}
.interest .s-container .interest-img img {
  width: 100%;
  display: block;
}

.cource-main-banner {
  background-color: #FEF5FE;
  position: relative;
}
.cource-main-banner::after {
  content: url(../../images/svgs/vector-blu-down.svg);
  position: absolute;
  bottom: -138px;
  right: 0;
}
.cource-main-banner .main-cource-smallImg {
  position: relative;
  display: none;
}
.cource-main-banner .main-cource-smallImg img {
  display: block;
  width: 100%;
}
.cource-main-banner .main-cource-smallImg .main-cource-svg2 {
  width: 48px;
}
.cource-main-banner .main-cource-smallImg .main-cource-svg2 img {
  display: none;
  width: 100%;
}
.cource-main-banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cource-main-banner .container .cource-main-info {
  max-width: 512px;
}
.cource-main-banner .container .cource-main-info .main-cource-svg {
  width: 48px;
  margin-bottom: 40px;
}
.cource-main-banner .container .cource-main-info .main-cource-svg img {
  display: block;
  width: 100%;
}
.cource-main-banner .container .cource-main-info .main-cource-age {
  padding: 6px 12px;
  background-color: #FDD7FD;
  max-width: 104px;
  margin-bottom: 24px;
}
.cource-main-banner .container .cource-main-info .main-cource-age p {
  color: #000;
  font-size: 17px;
  font-weight: 700;
}
.cource-main-banner .container .cource-main-info article h1 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}
.cource-main-banner .container .cource-main-info article p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 150%;
}
.cource-main-banner .container .cource-main-info article .cource-content {
  justify-content: space-between;
}
.cource-main-banner .container .cource-main-info article .cource-content p {
  max-width: 136px;
  padding: 8px;
  color: 16px;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #F99AF9;
  box-shadow: #FDD7FD 6px -6px;
  text-align: center;
  transition: 0.15s;
}
.cource-main-banner .container .cource-main-info article .cource-content p:hover {
  box-shadow: #F99AF9 3px -3px;
  word-spacing: 2px;
}
.cource-main-banner .container .cource-main-img {
  max-width: 456px;
}
.cource-main-banner .container .cource-main-img img {
  display: block;
  width: 100%;
}

.lesson-formP {
  background-color: #FEF5FE;
  padding: 26px 0 42px;
}

.cource-interest {
  background-image: url(../../images/cource-page/jail-back.svg);
  padding: 94px 0 100px;
  margin-bottom: 40px;
  position: relative;
}
.cource-interest .s-container .c-int-wrap {
  position: relative;
}
.cource-interest .s-container .c-int-wrap::after {
  content: url(../../images/svgs/pink-vector-interest.svg);
  position: absolute;
  right: 0;
  top: -16px;
}
.cource-interest .s-container .c-int-wrap::before {
  content: url(../../images/svgs/splash.svg);
  position: absolute;
  left: -40px;
  bottom: 111px;
}
.cource-interest .s-container h3 {
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.cource-interest .s-container h3::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: relative;
  top: -20px;
  left: 8px;
}
.cource-interest .s-container h3::after {
  content: url(../../images/cource-page/blu-under.svg);
  position: absolute;
  transform: translateX(44px);
  top: 56px;
}
.cource-interest .s-container .cource-interest-item {
  margin-bottom: 32px;
  gap: 6px;
}
.cource-interest .s-container .cource-interest-item:first-of-type h4 {
  white-space: nowrap;
}
.cource-interest .s-container .cource-interest-item .interest-item-img {
  position: relative;
  top: 8px;
  width: 18.5px;
}
.cource-interest .s-container .cource-interest-item .interest-item-img img {
  display: block;
}
.cource-interest .s-container .cource-interest-item h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 130%;
  color: #000;
}
.cource-interest .s-container .cource-interest-item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #000;
}

.learn .S-container {
  display: flex;
  flex-direction: column;
  max-width: 777px;
}
.learn .S-container h3 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 44px;
  position: relative;
}
.learn .S-container h3::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: relative;
  bottom: 14px;
  left: 6px;
}
.learn .S-container h3::after {
  content: url(../../images/cource-page/yello-under.svg);
  position: absolute;
  top: 32px;
  transform: translateX(-136px);
}
.learn .S-container .tech-block {
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-bottom: 42px;
}
.learn .S-container .tech-block .tech-item {
  max-width: 363px;
  border-radius: 6px;
  padding: 16px 16px 18px;
  min-height: 216px;
  margin-bottom: 15px;
}
.learn .S-container .tech-block .tech-item:nth-child(1) {
  background-color: #FEF5FE;
  border: 1px solid #F99AF9;
}
.learn .S-container .tech-block .tech-item:nth-child(2) {
  background-color: #FEF9E6;
  border: 1px solid #F9CD37;
}
.learn .S-container .tech-block .tech-item:nth-child(3) {
  background-color: #E6F0FF;
  border: 1px solid #3586FF;
}
.learn .S-container .tech-block .tech-item:nth-child(4) {
  border: 1px solid #3586FF;
  display: none;
}
.learn .S-container .tech-block .tech-item:nth-child(4) img {
  display: block;
  width: 100%;
}
.learn .S-container .tech-block .tech-item:nth-child(5) {
  background-color: #FFF0EF;
  border: 1px solid #FE6A5D;
}
.learn .S-container .tech-block .tech-item:nth-child(6) {
  background-color: #E1FFF9;
  border: 1px solid #00B894;
}
.learn .S-container .tech-block .tech-item:nth-child(7) {
  background-color: #FEF5FE;
  border: 1px solid #F99AF9;
}
.learn .S-container .tech-block .tech-item .tech-img-block {
  gap: 8px;
}
.learn .S-container .tech-block .tech-item .tech-info h5 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 8px 0 6px;
}
.learn .S-container .tech-block .tech-item .tech-info p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 150%;
}
.learn .S-container .com-block {
  max-width: 443px;
  align-self: flex-end;
}
.learn .S-container .com-block img {
  width: 100%;
  display: block;
}

.why {
  padding: 0 50px;
}
.why .container {
  max-width: 1140px;
  padding: 48px 32px 32px;
  border: 2px solid #F99AF9;
  box-shadow: #FDD7FD 12px -12px;
  margin-top: 11px;
  position: relative;
}
.why .container::before {
  content: url(../../images/svgs/why-chevron.svg);
  position: absolute;
  top: -65px;
  left: -86px;
}
.why .container h2 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 48px;
  max-width: 616px;
}
.why .container .why-banner {
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.why .container .why-banner .why-item {
  max-width: 244px;
  text-align: start;
}
.why .container .why-banner .why-item .why-img img {
  display: block;
}
.why .container .why-banner .why-item h5 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  margin: 18px 0 8px;
  line-height: 130%;
}
.why .container .why-banner .why-item p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.why .container .why-option {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-top: 32px;
  line-height: 140%;
}

.cource-teacher {
  padding: 56px 0;
  background-color: #FEF5FE;
  margin-top: 40px;
  position: relative;
}
.cource-teacher::after {
  content: url(../../images/svgs/teacher-vector.svg);
  position: absolute;
  top: 38px;
  right: 0;
}
.cource-teacher .s-container article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cource-teacher .s-container article .specialist {
  color: #F99AF9;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.cource-teacher .s-container article .expert-block {
  margin-top: 16px;
}
.cource-teacher .s-container article .expert-block h6 {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}
.cource-teacher .s-container article h5 {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 34px;
  position: relative;
}
.cource-teacher .s-container article h5::before {
  content: url(../../images/mainBanner-svgs/Layer_1.svg);
  position: absolute;
  bottom: 22px;
  left: -24px;
}
.cource-teacher .s-container article h6 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
}
.cource-teacher .s-container article p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  max-width: 384px;
}
.cource-teacher .s-container article p:last-of-type {
  font-size: 16px;
  line-height: 150%;
}
.cource-teacher .s-container article .teachure-img-block h5 {
  display: none;
}
.cource-teacher .s-container article .cource-teachure-img {
  max-width: 364px;
  box-shadow: #FDD7FD 16px -16px;
  transition: 0.2s;
  position: relative;
}
.cource-teacher .s-container article .cource-teachure-img:hover {
  box-shadow: #F99AF9 12px -12px;
}
.cource-teacher .s-container article .cource-teachure-img .cource-kent {
  max-width: 272px;
  position: absolute;
  bottom: 0;
  right: -140px;
}
.cource-teacher .s-container article .cource-teachure-img .cource-kent img {
  width: 100%;
  display: block;
}
.cource-teacher .s-container article .cource-teachure-img img {
  width: 100%;
  display: block;
}

/*# sourceMappingURL=main.css.map */
